/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B58181;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: right;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

.main-container{
    background-color: white; /* 메인 컨테이너의 배경색 */
    max-width: 1200px; /* 페이지의 최대 너비 */
    margin: 20px auto; /* 상하단 20px, 좌우 자동으로 중앙 정렬 */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 컨테이너에 그림자 추가 */
    border-radius: 10px; /* 컨테이너 모서리를 둥글게 */
}



.banner-text{
    position: absolute;
    top: 50%; 
    left: 80%;
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
    color: white; /* 글씨 색상 */
    text-align: right; /* 텍스트 중앙 정렬 */
    padding: 0px; /* 여백 추가 */
    border-radius: 10px; /* 모서리를 둥글게 */
}
.banner-text h2 {
    font-size: 3em;
    margin-bottom: 10px;
}
.banner-text h1 {
    font-size: 5em;
}
.banner-text p {
    font-size: 2em;
}

.banner-text button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}


.layout-container {
    display: flex;
    gap: 20px; 
    justify-content: space-between; 
}


/* 정보 게시판 내용 스타일 */
.info-item {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.info-item p {
    margin: 0;
    font-size: 16px;
}

/* 후원 섹션 */
.donate-section {
    text-align: center;
    padding: 30px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.progress-bar {
    width: 80%;
    background-color: #ccc;
    margin: 0 auto;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, #505057, #F7AF08);

}

.donate-buttons button {
    
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    flex :1;
}

.donate-section h3  {
    font-size: 18px;
    text-align: center;
}


/* Footer 스타일링 */
footer {
    background-color: #f4f4f4;
    color: #666;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.footer-donation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

.footer-content{
    display: flex;
    text-align: center;
    flex:1;
    margin-left: 20px;
}

.footer-donation {
    display: flex;
    text-align: center;
    flex:1;
}

.footer-donation p {
    margin: 5px 0;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons .icon {
    width: 30px;
    height: auto;
}

hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.footer-info p {
    margin: 5px 0;
    font-size: 14px;
}

.copyright {
    margin: 15px 0;
    font-size: 12px;
    color: #999;
}
